
<body>
    <section class="container my-5">
        <h2>Nuestros Servicios</h2>
        <p>Ofrecemos una amplia gama de servicios de construcción para satisfacer sus necesidades.</p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Construcción de viviendas</li>
                    <li>Remodelación y renovación</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Construcción de estructuras comerciales</li>
                    <li>Trabajos de albañilería</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <h2>Nuestros Proyectos Destacados</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://i.ytimg.com/vi/frMXIq2UvYM/maxresdefault.jpg" alt="Proyecto 1" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Proyecto 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://s1.eestatic.com/2022/07/20/invertia/disruptores-innovadores/america-tech/colombia/689191353_225935986_1706x960.jpg" alt="Proyecto 2" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Proyecto 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <h2>Contacto</h2>
        <p>Si desea más información o solicitar nuestros servicios, por favor contáctenos:</p>
        <address>
            <p>Dirección: Calle 23 #2-21, Neiva-Huila</p>
            <p>Teléfono: (123) 456-7890</p>
            <p>Correo Electrónico: STK.DesingSas@empresaconstruccion.com</p>
        </address>
    </section>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 Empresa de Construcción. Todos los derechos reservados.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

