
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Misión</h2>
                        <p class="card-text">En STK Design, nuestra misión es ser líderes en la industria de la construcción, ofreciendo servicios de diseño y construcción de alta calidad que superen las expectativas de nuestros clientes. Estamos comprometidos con la excelencia en la ejecución de proyectos, la seguridad en el lugar de trabajo y la sostenibilidad ambiental. Nuestro objetivo principal es contribuir al crecimiento y desarrollo de comunidades, construyendo espacios funcionales, estéticamente atractivos y duraderos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Visión</h2>
                        <p class="card-text">La visión de STK Design es ser reconocida a nivel nacional e internacional como una empresa de construcción de referencia en innovación, calidad y compromiso con la satisfacción del cliente. Aspiramos a ser una organización en constante crecimiento, expandiendo nuestras operaciones y servicios a nuevas geografías y diversificando nuestra cartera de proyectos. Buscamos ser una empresa sostenible que promueva prácticas respetuosas con el medio ambiente en la industria de la construcción.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
